################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/demo/liveNotDemoHNM237/demoHNM237/_site
/demo/liveNotDemoHNM237/demoHNM237/obj
/demo/liveNotDemoHNM237/demoHNM237/obj/Debug
/demo/liveNotDemoHNM237/demoHNM237/obj/Release
/demo/liveNotDemoHNM237/packages
/demo/liveNotDemoHNM237/.vs